<head></head>
<body>
  <header>
    <div class="header-container">
      <h1 class="mat-h1">Simple Weather Alpha</h1>
      <button mat-fab color="accent" (click)="addCity('Santa Ana')">
        <mat-icon>search</mat-icon>
      </button>
    </div>
    <app-city-nav-menu></app-city-nav-menu>
  </header>
  <div class="main-container">
    <app-current-weather-widget></app-current-weather-widget>
    <app-hourly-forecast-widget></app-hourly-forecast-widget>
  </div>
  <div class="footer">
    <span><a href="https://www.linkedin.com/in/dylan-thompson-33aa4a20/" target="_blanl">by DWT</a></span>
  </div>
</body>