.header-container {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: #3f51b5;
    color: white;
    a {
        color: white;
    }
}

.main-container {
    display: flex;
    flex: 1;
    app-current-weather-widget {
    }
}

.footer {
    text-align: right;
    padding-right: 32px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #3f51b5;
    color: white;
    a {
        color: white;
    }
}